
/* #lista {
display: grid;
background-color: rgba(0, 128, 255, 0.59);
padding: 33px 59px;
align-content: center;
justify-content: center;
}



.titulos{
  margin-top: 5rem;
  text-align: center;
  color: #7D146B ;
} 
td{
  font-size: 15px !important;
  color: #000 !important;
}
th{
  color: #fff;
  font-size: 19px;
} */
table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  padding-right: 0.5rem !important;

}

